In [3]:
%config IPCompleter.greedy=True

In [4]:
import pandas as pd
import os

In [5]:
mainpath = "../../datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [5]:
data = pd.read_csv(fullpath)

## Ejemplos de parámetros de la función Read CSV


    read.csv(filepath="../../datasets/titanic/titanic3.csv",
         sep=",", #Separador
         dtype=None, #{"ingresos":np.float64, "edad":np.int32} #Tipo de dato de las columnas
         header=0, #Qué fila es la cabecera
         names= {"ingresos", "edad"}, #Cambio de nombres de las columnas
         skiprows=12, #Filas a saltar cuando se lee el archivo
         index_col=0, #Cuál columna será la de etiquetas
         skip_blank_lines=True, #Se saltean las filas en blanco en vez de poner NaN
         na_filter=True #Elimina las filas con valores NaN desconocidos
           )

## Carga de datos usando la función OPEN

In [23]:
data3 = open(mainpath + "/" + 'customer-churn-model/Customer Churn Model.txt', "r")

In [24]:
cols = data3.readline().strip().split(',')

n_cols = len(cols)

In [25]:
counter = 0
main_dict = {}

for col in cols:
    main_dict[col] = []

In [26]:
for line in data3:
    values = line.strip().split(",")
    
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    
    counter += 1

print("Hola, terminé")
print("El dataset tiene %d filas y %d columnas" % (counter, n_cols))

Hola, terminé
El dataset tiene 3333 filas y 21 columnas

## Lectura y escritura de ficheros

In [29]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [32]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [33]:
df4 = pd.read_csv(outfile, sep = "\t")
df4

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [36]:
'''
medallasURL = "http://winterolympicsmedals.com/medals.csv" #No existe más la URL
medals_data = pd.read_csv(medallasURL)
'''

'\nmedallasURL = "http://winterolympicsmedals.com/medals.csv" #No existe más la URL\nmedals_data = pd.read_csv(medallasURL)\n'

In [ ]:
'''
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medallasURL)
r.status
response = r.data
'''

'''
import csv
cr = csv.reader(response)
'''

'''
for row in cr:
    print(row)
'''

## Ficheros XLS y XLSX

In [9]:
filename = "titanic/titanic3.xls"

In [10]:
titanic2 = pd.read_excel(mainpath + "/" + filename, sheet_name="titanic3")

In [11]:
titanic2.to_csv(mainpath + "/titanic/titanic_custom.csv")

In [15]:
titanic2.to_excel(mainpath + "/titanic/titanic_custom2.xls")

In [16]:
titanic2.to_json(mainpath + "/titanic/titanic_custom2.json")